<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="author" content="Shao-Chung Chen">
  <meta name="description" content="Personal IRC Cloud">
  <title>iLogbot | <%= @channel %></title>
  <link rel="stylesheet" type="text/css" href="/assets/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/screen.css">
  <base target="_blank" />
</head>
<body style="background: white;">
  <div class="navbar">
    <a class="backbtn" href="/" target="_self">&lt; Back</a>
    <a class="optbtn" href="#">⌘</a>
    <h1><%= @channel %></h1>
  </div>

  <div class="infobar">
    irc.freenode.net / dannvix
  </div>

  <div class="content">
    <ul class="mesgview">
      <% @mesgs.each do |mesg| %>
        <% time = Time.at(mesg["time"].to_f).strftime("%T") %>
        <% linked_mesg = mesg["mesg"].gsub(/http[s]*:\/\/[^\s]+/, '<a href="\0">\0</a>') %>
        <% classes = [] %>
        <% classes << "myself" if mesg["nick"] =~ /dannvix/i %>
        <% classes << "action" if mesg["action"] %>
        <li class="mesgline <%= classes.join(" ") %>">
          <div class="meta">&nbsp;
            <span class="time"><%= time %></span>
            <span class="nick"><%= mesg["nick"] %></span>
          </div>
          <div class="mesg"><%= linked_mesg %></div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="chatbar">
    <a class="emojibtn" href="#">:)</a>
    <a class="submitbtn" href="#">〉</a>
    <div class="input">
      <form method="POST" action="/privchat/<%= @channel %>">
        <input name="mesg" />
      </form>
    </div>
  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <script>
    $(".chatbar form").submit(function(e) {
      e.preventDefault();
      $.ajax({
        method: $(this).attr("method"),
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function(data) {
          $(".chatbar form input").val("").focusout();
        }
      });
    });
    $(document).scrollTop($(document).height());
  </script>
  <script>var channel = "<%= @channel %>";</script>
  <script type="text/javascript" src="/assets/script.js"></script>
  <script>pollNewPrivMesg();</script>
</body>
</html>